In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays where user_agent IS NULL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT distinct(gender) FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
2 rows affected.

[('F',), ('M',)]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, Decimal('114.78159')),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, Decimal('267.7024')),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, Decimal('148.03546')),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, Decimal('269.81832')),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, Decimal('266.39628'))]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', Decimal('NaN'), Decimal('NaN')),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', Decimal('NaN'), Decimal('NaN')),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', Decimal('35.14968'), Decimal('-90.04892')),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', Decimal('NaN'), Decimal('NaN')),
 ('ARNTLGG11E2835DDB9', 'Clp', '', Decimal('NaN'), Decimal('NaN'))]

In [12]:
%sql SELECT song_id, songs.artist_id FROM (songs JOIN artists ON songs.artist_id = artists.artist_id AND title = 'Sou Deep')

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [8]:
%sql SELECT song_id, songs.artist_id FROM (songs JOIN artists ON songs.artist_id = artists.artist_id)

 * postgresql://student:***@127.0.0.1/sparkifydb
71 rows affected.

[('SOMJBYD12A6D4F8557', 'ARD0S291187B9B7BF5'),
 ('SOYMRWW12A6D4FAB14', 'ARKFYS91187B98E58F'),
 ('SOCIWDW12A8C13D406', 'ARMJAGH1187FB546F3'),
 ('SOIAZJW12AB01853F1', 'AR8ZCNI1187B9A069B'),
 ('SOUDSGM12AC9618304', 'ARNTLGG11E2835DDB9'),
 ('SOQHXMF12AB0182363', 'ARGSJW91187B9B1D6B'),
 ('SOXVLOJ12AB0189215', 'ARKRRTF1187B9984DA'),
 ('SOHKNRJ12A6701D1F8', 'AR10USD1187B99F3F1'),
 ('SONHOTT12A8C13493C', 'AR7G5I41187FB4CE6C'),
 ('SOMZWCG12A8C13C480', 'ARD7TVE1187B99BFB1'),
 ('SOFSOCN12A8C143F5D', 'ARXR32B1187FB57099'),
 ('SOBEBDG12A58A76D60', 'ARI3BMM1187FB4255E'),
 ('SOILPQQ12AB017E82A', 'AR1ZHYZ1187FB3C717'),
 ('SOHUOAP12A8AE488E9', 'ARD842G1187B997376'),
 ('SOMUYGI12AB0188633', 'ARL7K851187B99ACD2'),
 ('SOZVMJI12AB01808AF', 'ARNPAGP1241B9C7FD4'),
 ('SOBONFF12A6D4F84D8', 'ARIK43K1187B9AE54C'),
 ('SORAMLE12AB017C8B0', 'ARHHO3O1187B989413'),
 ('SOKEJEJ12A8C13E0D0', 'ARC43071187B990240'),
 ('SOWTBJW12AC468AC6E', 'ARQGYP71187FB44566'),
 ('SOXLBJT12A8C140925', 'ARYKCQI1187FB3B18F'),
 ('SOUQQEA12A8C134B1B', 'ARIG6O41187B988BDD'),
 ('SOOLYAZ12A6701F4A6', 'AREBBGV1187FB523D2'),
 ('SOGOSOV12AF72A285E', 'ARGUVEV1187B98BA17'),
 ('SOGNCJP12A58A80271', 'ARB29H41187B98F0EF'),
 ('SOYTPEP12AB0180E7B', 'ARAJPHH1187FB5566A'),
 ('SOVYKGO12AB0187199', 'ARH4Z031187B9A71F2'),
 ('SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4'),
 ('SOBZBAZ12A6D4F8742', 'AROUOZZ1187B9ABE51'),
 ('SOBBUGU12A8C13E95D', 'ARMAC4T1187FB3FA4C'),
 ('SOBLGCN12AB0183212', 'AR47JEX1187B995D81'),
 ('SOGXHEG12AB018653E', 'AR0RCMP1187FB3F427'),
 ('SOLLHMX12AB01846DC', 'AR1Y2PT1187FB5B9CE'),
 ('SOZQDIU12A58A7BCF6', 'ARNTLGG11E2835DDB9'),
 ('SOPSWQW12A6D4F8781', 'ARGIWFO1187B9B55B7'),
 ('SONYPOM12A8C13B2D7', 'ARDNS031187B9924F0'),
 ('SODUJBS12A8C132150', 'ARI2JSK1187FB496EF'),
 ('SOBBXLX12A58A79DDA', 'AREDBBQ1187B98AFF5'),
 ('SOMVWWT12A58A7AE05', 'ARQ9BO41187FB5CF1F'),
 ('SOSLAVG12A8C13397F', 'AROGWRA122988FEE45'),
 ('SOAOIBZ12AB01815BE', 'ARPBNLO1187FB3D52F'),
 ('SOQVMXR12A81C21483', 'ARKULSX1187FB45F84'),
 ('SOZHPGD12A8C1394FE', 'AR9AWNF1187B9AB0B4'),
 ('SOTUKVB12AB0181477', 'AR7ZKHQ1187B98DD73'),
 ('SOTTDKS12AB018D69B', 'ARMBR4Y1187B9990EB'),
 ('SOQLGFP12A58A7800E', 'ARD7TVE1187B99BFB1'),
 ('SOPVXLX12A8C1402D5', 'AR3JMC51187B9AE49D'),
 ('SOFFKZS12AB017F194', 'ARBEBBY1187B9B43DB'),
 ('SOLEYHO12AB0188A85', 'ARAGB2O1187FB3A161'),
 ('SOFNOQK12AB01840FC', 'ARNNKDK1187B98BBD5'),
 ('SOPEGZN12AB0181B3D', 'AREDL271187FB40F44'),
 ('SOBKWDJ12A8C13B2F3', 'AR36F9J1187FB406F1'),
 ('SOQOTLQ12AB01868D0', 'ARGCY1Y1187B9A4FA5'),
 ('SOBAYLL12A8C138AF9', 'ARDR4AC1187FB371A1'),
 ('SOGVQGJ12AB017F169', 'AR62SOJ1187FB47BB5'),
 ('SOTCKKY12AB018A141', 'ARGSAFR1269FB35070'),
 ('SOOJPRH12A8C141995', 'ARBGXIG122988F409D'),
 ('SOXILUQ12A58A7C72A', 'ARP6N5A1187B99D1A3'),
 ('SOBCOSW12A8C13D398', 'AR7SMBG1187B9B9066'),
 ('SOUPIRU12A6D4FA1E1', 'ARJIE2Y1187B994AB7'),
 ('SOLYIBD12A8C135045', 'AR051KA1187B98B2FF'),
 ('SONWXQJ12A8C134D94', 'ARNF6401187FB57032'),
 ('SOWQTQZ12A58A7B63E', 'ARPFHN61187FB575F6'),
 ('SODREIN12A58A7F2E5', 'ARLTWXK1187FB5A3F8'),
 ('SOINLJW12A8C13314C', 'AR8IEZO1187B99055E'),
 ('SODAUVL12A8C13D184', 'ARWB3G61187FB49404'),
 ('SOFCHDR12AB01866EF', 'AREVWGE1187B9B890A'),
 ('SONSKXP12A8C13A2C9', 'AR0IAWL1187B9A96D0'),
 ('SORRZGD12A6310DBC3', 'ARVBRGZ1187FB4675A'),
 ('SOGDBUF12A8C140FAA', 'AR558FS1187FB45658'),
 ('SOSWKAV12AB018FC91', 'ARULZCI1241B9C8611')]

In [4]:
%sql SELECT * FROM songplays WHERE song_id IS NOT NULL and artist_id IS NOT NULL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6649, datetime.datetime(1970, 1, 1, 0, 25, 42, 837408), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [5]:
%sql SELECT count(*) FROM songplays;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(1970, 1, 1, 0, 25, 43, 449658), 0, 1, 1, 1, 1970, 3),
 (datetime.datetime(1970, 1, 1, 0, 25, 43, 449691), 0, 1, 1, 1, 1970, 3),
 (datetime.datetime(1970, 1, 1, 0, 25, 43, 449842), 0, 1, 1, 1, 1970, 3),
 (datetime.datetime(1970, 1, 1, 0, 25, 43, 449896), 0, 1, 1, 1, 1970, 3),
 (datetime.datetime(1970, 1, 1, 0, 25, 43, 450034), 0, 1, 1, 1, 1970, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).